<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>pilotejdbc</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>urlconnexionjdbc</param-name>
        <param-value>jdbc:mysql://172.20.0.241:3306/EQPEAK</param-value>
    </context-param>
    <context-param>
        <param-name>utilisateurjdbc</param-name>
        <param-value>ADM_EQPEAK</param-value>
    </context-param>
    <context-param>
        <param-name>motdepassejdbc</param-name>
        <param-value>mpEqPeak</param-value>
    </context-param>
    <!--  écouteurs -->
    <listener>
        <listener-class>database.InitConnexion</listener-class>
    </listener>
    <servlet>
        <servlet-name>ServletVentes</servlet-name>
        <servlet-class>servlets.ServletVentes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletClient</servlet-name>
        <servlet-class>servlets.ServletClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConnexion</servlet-name>
        <servlet-class>servlets.ServletConnexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCheval</servlet-name>
        <servlet-class>servlets.ServletCheval</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAcceuil</servlet-name>
        <servlet-class>servlets.ServletAcceuil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCourse</servlet-name>
        <servlet-class>servlets.ServletCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLieu</servlet-name>
        <servlet-class>servlets.ServletLieu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRecherche</servlet-name>
        <servlet-class>servlets.ServletRecherche</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEntraineur</servlet-name>
        <servlet-class>servlets.ServletEntraineur</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletVentes</servlet-name>
        <url-pattern>/ServletVentes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVentes</servlet-name>
        <url-pattern>/ServletVentes/listerLesVentes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVentes</servlet-name>
        <url-pattern>/ServletVentes/modifierVente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVentes</servlet-name>
        <url-pattern>/ServletVentes/supprimerVente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVentes</servlet-name>
        <url-pattern>/ServletVentes/listerLesLotsParVente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVentes</servlet-name>
        <url-pattern>/ServletVentes/listerLesEncheresParLot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVentes</servlet-name>
        <url-pattern>/ServletVentes/listerLesClients</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVentes</servlet-name>
        <url-pattern>/ServletVentes/ajouterVente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVentes</servlet-name>
        <url-pattern>/ServletVentes/listerLesCategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVentes</servlet-name>
        <url-pattern>/ServletVentes/ajouterCateg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVentes</servlet-name>
        <url-pattern>/ServletVentes/modifierCateg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVentes</servlet-name>
        <url-pattern>/ServletVentes/listerLesVentesParCateg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVentes</servlet-name>
        <url-pattern>/ServletVentes/listerLesCourrielsParVente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVentes</servlet-name>
        <url-pattern>/ServletVentes/listerLesDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVentes</servlet-name>
        <url-pattern>/ServletVentes/infosEnchere</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVentes</servlet-name>
        <url-pattern>/ServletVentes/listerLesPiecesJointes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVentes</servlet-name>
        <url-pattern>/ServletVentes/listerLesChevaux</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletClient</servlet-name>
        <url-pattern>/ServletClient/ajouterClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletClient</servlet-name>
        <url-pattern>/ServletClient/modifierClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletClient</servlet-name>
        <url-pattern>/ServletClient/supprimerClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletClient</servlet-name>
        <url-pattern>/ServletClient/infosClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletClient</servlet-name>
        <url-pattern>/ServletClient/infosCheval</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletClient</servlet-name>
        <url-pattern>/ServletClient/listerLesClients</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConnexion</servlet-name>
        <url-pattern>/ServletConnexion/connexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConnexion</servlet-name>
        <url-pattern>/ServletConnexion/connexionConsulter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAcceuil</servlet-name>
        <url-pattern>/ServletAcceuil/Acceuil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCheval</servlet-name>
        <url-pattern>/ServletCheval/ajouterTypeCheval</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCheval</servlet-name>
        <url-pattern>/ServletCheval/ajouterCheval</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCheval</servlet-name>
        <url-pattern>/ServletCheval/modifierCheval</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCheval</servlet-name>
        <url-pattern>/ServletCheval/supprimerCheval</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCheval</servlet-name>
        <url-pattern>/ServletCheval/ajouterUneParticipation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCheval</servlet-name>
        <url-pattern>/ServletCheval/modifierTypesCheval</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCheval</servlet-name>
        <url-pattern>/ServletCheval/supprimerTypesCheval</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCheval</servlet-name>
        <url-pattern>/ServletCheval/listerLesTypesChevaux</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCheval</servlet-name>
        <url-pattern>/ServletCheval/listerLesChevaux</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCheval</servlet-name>
        <url-pattern>/ServletCheval/listerLesChevauxProposes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCheval</servlet-name>
        <url-pattern>/ServletCheval/AccepterOuRefuserCheval</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCourse</servlet-name>
        <url-pattern>/ServletCourse/ajouterCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCourse</servlet-name>
        <url-pattern>/ServletCourse/listerLesCourses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCourse</servlet-name>
        <url-pattern>/ServletCourse/listerLesParticipationsparCourses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCourse</servlet-name>
        <url-pattern>/ServletCourse/modifierCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCourse</servlet-name>
        <url-pattern>/ServletCourse/supprimerCourse</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletPays</servlet-name>
        <servlet-class>servlets.ServletPays</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletPays</servlet-name>
        <url-pattern>/ServletPays/listerLesPays</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPays</servlet-name>
        <url-pattern>/ServletPays/modifierPays</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPays</servlet-name>
        <url-pattern>/ServletPays/paysAjouter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPays</servlet-name>
        <url-pattern>/ServletPays/supprimerPays</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLieu</servlet-name>
        <url-pattern>/ServletLieu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLieu</servlet-name>
        <url-pattern>/ServletLieu/listerLesLieux</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLieu</servlet-name>
        <url-pattern>/ServletLieu/ajouterLieu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLieu</servlet-name>
        <url-pattern>/ServletLieu/modifierLieu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLieu</servlet-name>
        <url-pattern>/ServletLieu/supprimerLieu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRecherche</servlet-name>
        <url-pattern>/ServletRecherche</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRecherche</servlet-name>
        <url-pattern>/ServletRecherche/resultatRecherche</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEntraineur</servlet-name>
        <url-pattern>/ServletEntraineur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEntraineur</servlet-name>
        <url-pattern>/ServletEntraineur/ajouterEntraineur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEntraineur</servlet-name>
        <url-pattern>/ServletEntraineur/consulterEntraineur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEntraineur</servlet-name>
        <url-pattern>/ServletEntraineur/listeChevauxEntraines</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEntraineur</servlet-name>
        <url-pattern>/ServletEntraineur/listeEntraineurs</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
